body {
    background-color: rgb(240, 240, 240);
    padding: 0px;
    margin: 0px;
    font-family: 'Arial';
    text-align: center;
}

#left {
    float: left;
    width: 330px;
    margin-left: 10%;
    margin-top: 70px;
}

#user_info {
    background-color: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    width: 330px;
    height: 180px;
}

#user_background {
    background-color: #2ecc71;
    width: 100%;
    height: 80px;
}

#avatar {
    background-image: url("img/icon-person.png");
    height: 128px;
    width: 128px;
    margin-top: -64px;
    float: left;
}

#user_login {
    float: right;
    margin-top: 13px;
    margin-right: 30px;
    font-size: 18pt;
}

#user_stat {
    margin-top: 50px;
    width: 100px;
}

#main {
    float: right;
    margin-right: 10%;

}

#header {
    background-color: rgb(150, 220, 150);
    color: white;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.6);
    margin-bottom: 15px;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.form {
    margin-left: 10px;
    margin-top: 70px;
}

.posts {


}

.card {
    background-color: white;
    width: 650px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    min-height: 60px;
}

.card #shout {
    min-height: 35px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card #author {
    border-top: 1px solid rgb(220, 220, 220);
    color: rgb(110, 180, 110);
    min-height: 25px;
    line-height: 25px;
    vertical-align: middle;
    text-align: right;
    padding-right: 15px;
}

input[type="text"] {
    border: 0px;
    background-color: white;
    margin-top: 0;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    font-size: 20pt;
    width: 600px;
    height: 50px;
    transition-duration: 0.3s;
}

input[type="text"]:focus {
    outline: 0;
    box-shadow: 1px 1px 6px rgba(0, 200, 0, 1);
    transition-duration: 0.3s;
}

.input_line {
    height: 1px;
    margin-bottom: 1px;
    background-color: grey;
    width: 150px;
}


.btn {
    position: relative;

    width: 70px;
    display: block;
    padding: 5px;

    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    text-align: center;
    overflow: hidden;

    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

    background-color: #2ecc71;
    color: #ecf0f1;

    transition: background-color .3s;
}

.btn:hover, .btn:focus {
    background-color: #27ae60;
}

a {
    text-decoration: none;
}


input[type="submit"] {
    margin-top: 20px;
    border: 0px;
    background-color: rgb(130, 200, 130);
    font-size: 30pt;
    color: white;
    width: 200px;
    height: 50px;
    transition-duration: 0.3s;
    box-shadow: 1px 1px 1px black;
}

input[type="submit"]:hover {
    background-color: rgb(100, 180, 120);
    box-shadow: 1px 1px 5px black;
}

@media only screen and (max-device-width: 720px) {

    .header{
        font-size: 100pt;
    }

    .btn {
        font-size: 100px;
        width: 40%;
    }

    .card {
        width: 100%;
        font-size: 45pt;

    }

    .card #shout {
        min-height: 10%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
        border-bottom: 1px solid rgb(220, 220, 220);
    }

    .card #author {
        padding-top: 2%;
        color: rgb(110, 180, 110);
        min-height: 5%;
        line-height: normal;
        vertical-align: bottom;
        text-align: right;
        padding-right: 5%;
        font-size: 30pt;
    }

    #login {
        font-size: 40pt;
    }

    input[type="text"] {
        border: 0px;
        background-color: white;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
        font-size: 40pt;
        width: 78%;
        height: 10%;
        transition-duration: 0.3s;
    }

    input[type="submit"] {
        border: 0px;
        background-color: rgb(150, 220, 150);
        font-size: 40pt;
        color: white;
        width: 20%;
        height: 10%;
        transition-duration: 0.3s;
    }

    input[type="text"]:focus {
        outline: 0;
        box-shadow: 1px 1px 6px rgba(0, 200, 0, 1);
        transition-duration: 0.3s;
    }

    .input_line {
        height: 1px;
        margin-bottom: 1px;
        background-color: grey;
        width: 150px;
    }