body {
    background-color: #f0f0f0;
    padding: 0px;
    margin: 0px;
    font-family: 'Arial', serif;
}


#header {
    background-color: #353535;
    color: white;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 15px;
    padding-right: 5px;
    padding-left: 15px;
    position: fixed;
    width: 100%;
    z-index: 999;
    transition-duration: 0.3s;
}

#index-body {
    background-image: url("img/login_bkg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    min-width: 100%;
    min-height: 100%;
}

#register-body {
    background: url("img/hello.jpg");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-color: white;
    min-width: 100%;
    min-height: 100%;
    color: black;
}

#register-body #login-logotype {
    color: black;
}

#login-container {
    left: 50%;
    margin-left: -200px;
    position: absolute;
    margin-top: 10%;
    width: 400px;
    box-sizing: border-box;
    text-align: center;
}

#login-logotype {
    color: white;
    font-size: 30px;
    text-align: left;
    margin-left: 10px;
}

.login_header {
    width: 100%;
    height: 50px;
    color: white;
    background-color: #337AB7;
    padding-top: 4px;
}

#let_me_in {
    float: right;
}

#left {
    float: left;
    width: 330px;
    margin-left: 10%;
    margin-top: 80px;
}

#user_info {
    background-color: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    width: 330px;
    height: 180px;
    border-radius: 3px;
}

#user_background {
    background-color: cornflowerblue;
    width: 100%;
    height: 80px;
}

#avatar {
    background-image: url("img/icon-person.png");
    height: 128px;
    width: 128px;
    margin-top: -64px;
    float: left;
}

#user_login {
    float: right;
    margin-top: 13px;
    margin-right: 30px;
    font-size: 18pt;
}

#user_stat {
    margin-top: 50px;
    width: 100px;
    margin-left: 15px;
    font-weight: bold;
}

#main {
    float: right;
    margin-right: 10%;
    margin-top: 80px;
}



#title {
    width: 220px;
    color: white;
    height: 46px;
    margin-right: 0px;
    float: left;
    /*background-image: url("img/logo.png");*/
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 32px;
}

/*.form {*/
    /*margin-left: 10px;*/
/*}*/

#log-out, #profile {
    float: right;
    margin: 5px;
}


.posts {


}

.card {
    background-color: white;
    width: 650px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    min-height: 60px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 3px;
}

.card #shout {
    min-height: 35px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card #author {
    color: #000;
    min-height: 25px;
    line-height: 25px;
    vertical-align: middle;
    font-weight: bold;
    padding-right: 15px;
}

textarea {
    border-radius: 3px;
    transition-duration: 0.3s;
    resize: none;
    height: 40px;
    width: 650px;
}

/*input[type="text"] {*/
    /*border: 0px;*/
    /*background-color: white;*/
    /*margin-top: 0;*/
    /*box-shadow: 1px 1px 3px grey;*/
    /*font-size: 20pt;*/
    /*width: 600px;*/
    /*height: 50px;*/
    /*transition-duration: 0.3s;*/
/*}*/

/*input[type="text"]:focus {*/
    /*outline: 0;*/
    /*box-shadow: 1px 1px 6px blue;*/
    /*transition-duration: 0.3s;*/
/*}*/

.input_line {
    height: 1px;
    margin-bottom: 1px;
    background-color: grey;
    width: 150px;
}


a {
    text-decoration: none;
}

#profile-settings {
    margin-top: 80px;
}

/*input[type="submit"] {*/
    /*margin-top: 20px;*/
    /*border: 0px;*/
    /*background-color: #222222;*/
    /*font-size: 30pt;*/
    /*color: white;*/
    /*width: 200px;*/
    /*height: 50px;*/
    /*transition-duration: 0.3s;*/
    /*box-shadow: 1px 1px 1px black;*/
/*}*/

/*input[type="submit"]:hover {*/
    /*background-color: #6495ED;*/
    /*box-shadow: 1px 1px 5px black;*/
/*}*/

